ul {
    color: rgb(10, 70, 10);
}

.header img {
    width: 400px;
    height: 200px;
    background: rgb(255, 255, 255);
}

.header h1 {
    display: inline;
    font-size: 60px;
    position: absolute;
    margin-top: 75px;
}

.olspots img {
    width: 600px;
    height: 300px;
    background:rgb(255, 255, 255);
}

.olspots p {
    display: inline;
    font-size: 100px;
    color: red;
    font-weight: bolder;
    position: absolute;
    margin-bottom: 500px;
}